.rectangle {
  position: relative;
  border-radius: 12px;
  background-color: #1a1a1a;
}

.rectangle::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 16px;
  background: linear-gradient(rgb(82, 0, 255), rgb(204, 0, 255));
  z-index: -1;
  padding: 2px;
  margin: -2px;
  box-sizing: border-box;
}

.left_line {
  position: relative;
}

.left_line::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  border: 2px solid var(--line-color);
  box-shadow: var(--line-shadow);
}

.link:hover {
  border-bottom: 2px solid #ff00b8;
}
