.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-top: 25px;
    background: linear-gradient(180deg, #f65ccb 0%, #a05cf6 100%);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.01em;
    text-transform: none;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  
  .btn:hover {
    transition: 0.2s ease-in;
    background: linear-gradient(180deg, #ff39c7 0%, #770cff 100%);
    box-shadow: 0px 4px 20px 0px rgba(255, 57, 199, 0.7),
      0px 4px 4px 0px rgba(255, 57, 199, 0.25);
  }
  