.form_wrapper {
  background-image: url("/common/form_bg.png");
  width: 100%;
  min-height: 400px;
}

.my_form {
  box-sizing: border-box;
  border: 4px solid rgb(204, 0, 255);
  border-radius: 12px;

  box-shadow: 0px 0px 20px 0px rgb(204, 0, 255),
    0px 0px 40px 0px rgba(204, 0, 255, 0.5), 0px 0px 100px 0px rgb(204, 0, 255),
    0px 0px 150px 0px rgb(115, 102, 118);
  background: rgb(0, 0, 0);
  z-index: 100;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(180deg, #f65ccb 0%, #a05cf6 100%);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.01em;
  text-transform: none;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  transition: 0.2s ease-in;
  background: linear-gradient(180deg, #ff39c7 0%, #770cff 100%);
  box-shadow: 0px 4px 20px 0px rgba(255, 57, 199, 0.7),
    0px 4px 4px 0px rgba(255, 57, 199, 0.25);
}

.description {
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
